body {
    background-color: black;
    margin: 0;
    padding: 0;
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  

 #photo-gallery img {
    max-width: 200px;
    height: fit-content(100%);
    border: 2px solid white;
    border-radius: 5px;
    transition: transform 0.2s;
}
  
#photo-gallery img:hover {
    transform: scale(1.05);
}

